---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/holon-run/holon/pulls/123
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/holon-run/holon/pulls/123","id":3121147143,"node_id":"PR_kwDOQrCIAs66CO0H","html_url":"https://github.com/holon-run/holon/pull/123","diff_url":"https://github.com/holon-run/holon/pull/123.diff","patch_url":"https://github.com/holon-run/holon/pull/123.patch","issue_url":"https://api.github.com/repos/holon-run/holon/issues/123","number":123,"state":"closed","locked":false,"title":"Refactor terminology","user":{"login":"jolestar","id":77268,"node_id":"MDQ6VXNlcjc3MjY4","avatar_url":"https://avatars.githubusercontent.com/u/77268?v=4","gravatar_id":"","url":"https://api.github.com/users/jolestar","html_url":"https://github.com/jolestar","followers_url":"https://api.github.com/users/jolestar/followers","following_url":"https://api.github.com/users/jolestar/following{/other_user}","gists_url":"https://api.github.com/users/jolestar/gists{/gist_id}","starred_url":"https://api.github.com/users/jolestar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jolestar/subscriptions","organizations_url":"https://api.github.com/users/jolestar/orgs","repos_url":"https://api.github.com/users/jolestar/repos","events_url":"https://api.github.com/users/jolestar/events{/privacy}","received_events_url":"https://api.github.com/users/jolestar/received_events","type":"User","user_view_type":"public","site_admin":false},"body":null,"created_at":"2025-12-21T23:25:35Z","updated_at":"2025-12-22T00:00:07Z","closed_at":"2025-12-22T00:00:05Z","merged_at":"2025-12-22T00:00:05Z","merge_commit_sha":"7fe366b4e53c4ac51e65e5f5e9ae471487900025","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/holon-run/holon/pulls/123/commits","review_comments_url":"https://api.github.com/repos/holon-run/holon/pulls/123/comments","review_comment_url":"https://api.github.com/repos/holon-run/holon/pulls/comments{/number}","comments_url":"https://api.github.com/repos/holon-run/holon/issues/123/comments","statuses_url":"https://api.github.com/repos/holon-run/holon/statuses/44c152d51cb6991d33e53552726fb00086c4c478","head":{"label":"holon-run:refactor-terminology","ref":"refactor-terminology","sha":"44c152d51cb6991d33e53552726fb00086c4c478","user":{"login":"holon-run","id":250904150,"node_id":"O_kgDODvR-Vg","avatar_url":"https://avatars.githubusercontent.com/u/250904150?v=4","gravatar_id":"","url":"https://api.github.com/users/holon-run","html_url":"https://github.com/holon-run","followers_url":"https://api.github.com/users/holon-run/followers","following_url":"https://api.github.com/users/holon-run/following{/other_user}","gists_url":"https://api.github.com/users/holon-run/gists{/gist_id}","starred_url":"https://api.github.com/users/holon-run/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/holon-run/subscriptions","organizations_url":"https://api.github.com/users/holon-run/orgs","repos_url":"https://api.github.com/users/holon-run/repos","events_url":"https://api.github.com/users/holon-run/events{/privacy}","received_events_url":"https://api.github.com/users/holon-run/received_events","type":"Organization","user_view_type":"public","site_admin":false},"repo":{"id":1118865410,"node_id":"R_kgDOQrCIAg","name":"holon","full_name":"holon-run/holon","private":false,"owner":{"login":"holon-run","id":250904150,"node_id":"O_kgDODvR-Vg","avatar_url":"https://avatars.githubusercontent.com/u/250904150?v=4","gravatar_id":"","url":"https://api.github.com/users/holon-run","html_url":"https://github.com/holon-run","followers_url":"https://api.github.com/users/holon-run/followers","following_url":"https://api.github.com/users/holon-run/following{/other_user}","gists_url":"https://api.github.com/users/holon-run/gists{/gist_id}","starred_url":"https://api.github.com/users/holon-run/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/holon-run/subscriptions","organizations_url":"https://api.github.com/users/holon-run/orgs","repos_url":"https://api.github.com/users/holon-run/repos","events_url":"https://api.github.com/users/holon-run/events{/privacy}","received_events_url":"https://api.github.com/users/holon-run/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/holon-run/holon","description":"holon","fork":false,"url":"https://api.github.com/repos/holon-run/holon","forks_url":"https://api.github.com/repos/holon-run/holon/forks","keys_url":"https://api.github.com/repos/holon-run/holon/keys{/key_id}","collaborators_url":"https://api.github.com/repos/holon-run/holon/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/holon-run/holon/teams","hooks_url":"https://api.github.com/repos/holon-run/holon/hooks","issue_events_url":"https://api.github.com/repos/holon-run/holon/issues/events{/number}","events_url":"https://api.github.com/repos/holon-run/holon/events","assignees_url":"https://api.github.com/repos/holon-run/holon/assignees{/user}","branches_url":"https://api.github.com/repos/holon-run/holon/branches{/branch}","tags_url":"https://api.github.com/repos/holon-run/holon/tags","blobs_url":"https://api.github.com/repos/holon-run/holon/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/holon-run/holon/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/holon-run/holon/git/refs{/sha}","trees_url":"https://api.github.com/repos/holon-run/holon/git/trees{/sha}","statuses_url":"https://api.github.com/repos/holon-run/holon/statuses/{sha}","languages_url":"https://api.github.com/repos/holon-run/holon/languages","stargazers_url":"https://api.github.com/repos/holon-run/holon/stargazers","contributors_url":"https://api.github.com/repos/holon-run/holon/contributors","subscribers_url":"https://api.github.com/repos/holon-run/holon/subscribers","subscription_url":"https://api.github.com/repos/holon-run/holon/subscription","commits_url":"https://api.github.com/repos/holon-run/holon/commits{/sha}","git_commits_url":"https://api.github.com/repos/holon-run/holon/git/commits{/sha}","comments_url":"https://api.github.com/repos/holon-run/holon/comments{/number}","issue_comment_url":"https://api.github.com/repos/holon-run/holon/issues/comments{/number}","contents_url":"https://api.github.com/repos/holon-run/holon/contents/{+path}","compare_url":"https://api.github.com/repos/holon-run/holon/compare/{base}...{head}","merges_url":"https://api.github.com/repos/holon-run/holon/merges","archive_url":"https://api.github.com/repos/holon-run/holon/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/holon-run/holon/downloads","issues_url":"https://api.github.com/repos/holon-run/holon/issues{/number}","pulls_url":"https://api.github.com/repos/holon-run/holon/pulls{/number}","milestones_url":"https://api.github.com/repos/holon-run/holon/milestones{/number}","notifications_url":"https://api.github.com/repos/holon-run/holon/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/holon-run/holon/labels{/name}","releases_url":"https://api.github.com/repos/holon-run/holon/releases{/id}","deployments_url":"https://api.github.com/repos/holon-run/holon/deployments","created_at":"2025-12-18T11:46:49Z","updated_at":"2025-12-27T05:17:58Z","pushed_at":"2025-12-27T05:17:55Z","git_url":"git://github.com/holon-run/holon.git","ssh_url":"git@github.com:holon-run/holon.git","clone_url":"https://github.com/holon-run/holon.git","svn_url":"https://github.com/holon-run/holon","homepage":"https://holon-one.vercel.app","size":1094,"stargazers_count":1,"watchers_count":1,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":31,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":31,"watchers":1,"default_branch":"main"}},"base":{"label":"holon-run:main","ref":"main","sha":"74d51ceff6da8c507db835998c807c1d940d4c67","user":{"login":"holon-run","id":250904150,"node_id":"O_kgDODvR-Vg","avatar_url":"https://avatars.githubusercontent.com/u/250904150?v=4","gravatar_id":"","url":"https://api.github.com/users/holon-run","html_url":"https://github.com/holon-run","followers_url":"https://api.github.com/users/holon-run/followers","following_url":"https://api.github.com/users/holon-run/following{/other_user}","gists_url":"https://a[...]
