---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/holon-run/holon/commits/44c152d51cb6991d33e53552726fb00086c4c478/status?per_page=100
        method: GET
      response:
        body: '{"state":"success","statuses":[{"url":"https://api.github.com/repos/holon-run/holon/statuses/44c152d51cb6991d33e53552726fb00086c4c478","avatar_url":"https://avatars.githubusercontent.com/in/8329?v=4","id":41998328144,"node_id":"SC_kwDOQrCIAs8AAAAJx0uhUA","state":"success","description":"Deployment has completed","target_url":"https://vercel.com/jolestars-projects/holon/8nfq5juYAkdvr153Wt5hT3mDLvug","context":"Vercel","created_at":"2025-12-21T23:58:07Z","updated_at":"2025-12-21T23:58:07Z"}],"sha":"44c152d51cb6991d33e53552726fb00086c4c478","total_count":1,"repository":{"id":1118865410,"node_id":"R_kgDOQrCIAg","name":"holon","full_name":"holon-run/holon","private":false,"owner":{"login":"holon-run","id":250904150,"node_id":"O_kgDODvR-Vg","avatar_url":"https://avatars.githubusercontent.com/u/250904150?v=4","gravatar_id":"","url":"https://api.github.com/users/holon-run","html_url":"https://github.com/holon-run","followers_url":"https://api.github.com/users/holon-run/followers","following_url":"https://api.github.com/users/holon-run/following{/other_user}","gists_url":"https://api.github.com/users/holon-run/gists{/gist_id}","starred_url":"https://api.github.com/users/holon-run/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/holon-run/subscriptions","organizations_url":"https://api.github.com/users/holon-run/orgs","repos_url":"https://api.github.com/users/holon-run/repos","events_url":"https://api.github.com/users/holon-run/events{/privacy}","received_events_url":"https://api.github.com/users/holon-run/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/holon-run/holon","description":"holon","fork":false,"url":"https://api.github.com/repos/holon-run/holon","forks_url":"https://api.github.com/repos/holon-run/holon/forks","keys_url":"https://api.github.com/repos/holon-run/holon/keys{/key_id}","collaborators_url":"https://api.github.com/repos/holon-run/holon/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/holon-run/holon/teams","hooks_url":"https://api.github.com/repos/holon-run/holon/hooks","issue_events_url":"https://api.github.com/repos/holon-run/holon/issues/events{/number}","events_url":"https://api.github.com/repos/holon-run/holon/events","assignees_url":"https://api.github.com/repos/holon-run/holon/assignees{/user}","branches_url":"https://api.github.com/repos/holon-run/holon/branches{/branch}","tags_url":"https://api.github.com/repos/holon-run/holon/tags","blobs_url":"https://api.github.com/repos/holon-run/holon/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/holon-run/holon/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/holon-run/holon/git/refs{/sha}","trees_url":"https://api.github.com/repos/holon-run/holon/git/trees{/sha}","statuses_url":"https://api.github.com/repos/holon-run/holon/statuses/{sha}","languages_url":"https://api.github.com/repos/holon-run/holon/languages","stargazers_url":"https://api.github.com/repos/holon-run/holon/stargazers","contributors_url":"https://api.github.com/repos/holon-run/holon/contributors","subscribers_url":"https://api.github.com/repos/holon-run/holon/subscribers","subscription_url":"https://api.github.com/repos/holon-run/holon/subscription","commits_url":"https://api.github.com/repos/holon-run/holon/commits{/sha}","git_commits_url":"https://api.github.com/repos/holon-run/holon/git/commits{/sha}","comments_url":"https://api.github.com/repos/holon-run/holon/comments{/number}","issue_comment_url":"https://api.github.com/repos/holon-run/holon/issues/comments{/number}","contents_url":"https://api.github.com/repos/holon-run/holon/contents/{+path}","compare_url":"https://api.github.com/repos/holon-run/holon/compare/{base}...{head}","merges_url":"https://api.github.com/repos/holon-run/holon/merges","archive_url":"https://api.github.com/repos/holon-run/holon/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/holon-run/holon/downloads","issues_url":"https://api.github.com/repos/holon-run/holon/issues{/number}","pulls_url":"https://api.github.com/repos/holon-run/holon/pulls{/number}","milestones_url":"https://api.github.com/repos/holon-run/holon/milestones{/number}","notifications_url":"https://api.github.com/repos/holon-run/holon/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/holon-run/holon/labels{/name}","releases_url":"https://api.github.com/repos/holon-run/holon/releases{/id}","deployments_url":"https://api.github.com/repos/holon-run/holon/deployments"},"commit_url":"https://api.github.com/repos/holon-run/holon/commits/44c152d51cb6991d33e53552726fb00086c4c478","url":"https://api.github.com/repos/holon-run/holon/commits/44c152d51cb6991d33e53552726fb00086c4c478/status"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"599417f52b50740b19dec5f9e5d3ddfda78ab55d86e854d7e690a7de0e64a28b"
            X-Accepted-Oauth-Scopes:
                - repo, repo:status
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Client-Id:
                - 178c6fc778ccc68e1d6a
            X-Oauth-Scopes:
                - gist, read:org, repo, workflow
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4975"
            X-Ratelimit-Reset:
                - "1766815725"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "25"
        status: 200 OK
        code: 200
        duration: 347.42222ms
