---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/holon-run/holon/commits/44c152d51cb6991d33e53552726fb00086c4c478/check-runs?per_page=100
        method: GET
      response:
        body: "{\"total_count\":2,\"check_runs\":[{\"id\":58663844458,\"name\":\"Vercel Preview Comments\",\"node_id\":\"CR_kwDOQrCIAs8AAAANqKM6ag\",\"head_sha\":\"44c152d51cb6991d33e53552726fb00086c4c478\",\"external_id\":\"\",\"url\":\"https://api.github.com/repos/holon-run/holon/check-runs/58663844458\",\"html_url\":\"https://github.com/holon-run/holon/runs/58663844458\",\"details_url\":\"https://vercel.com/github\",\"status\":\"completed\",\"conclusion\":\"success\",\"started_at\":\"2025-12-21T23:58:07Z\",\"completed_at\":\"2025-12-21T23:58:07Z\",\"output\":{\"title\":\"✅ No unresolved feedback\",\"summary\":\"\U0001F4AC 0 unresolved, 0 resolved. [Go to feedback](https://vercel.live/open-feedback/holon-git-refactor-terminology-jolestars-projects.vercel.app?via=pr-comment-feedback-link)\",\"text\":null,\"annotations_count\":0,\"annotations_url\":\"https://api.github.com/repos/holon-run/holon/check-runs/58663844458/annotations\"},\"check_suite\":{\"id\":52784836950},\"app\":{\"id\":8329,\"client_id\":\"Iv1.9d7d662ea00b8481\",\"slug\":\"vercel\",\"node_id\":\"MDM6QXBwODMyOQ==\",\"owner\":{\"login\":\"vercel\",\"id\":14985020,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjE0OTg1MDIw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/14985020?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/vercel\",\"html_url\":\"https://github.com/vercel\",\"followers_url\":\"https://api.github.com/users/vercel/followers\",\"following_url\":\"https://api.github.com/users/vercel/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/vercel/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/vercel/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/vercel/subscriptions\",\"organizations_url\":\"https://api.github.com/users/vercel/orgs\",\"repos_url\":\"https://api.github.com/users/vercel/repos\",\"events_url\":\"https://api.github.com/users/vercel/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/vercel/received_events\",\"type\":\"Organization\",\"user_view_type\":\"public\",\"site_admin\":false},\"name\":\"Vercel\",\"description\":\"Vercel for GitHub automatically deploys your PRs to Vercel.\\r\\nPreview every PR live, without any configuration required.\\r\\n\\r\\nFor more information, see our [documentation](https://vercel.com/docs/github?utm_source=github&utm_medium=marketplace&utm_campaign=vercel-app).\\r\\n\\r\\n![](https://assets.vercel.com/image/upload/v1597943727/front/github/github-comment-monorepo.png)\",\"external_url\":\"https://vercel.com/github\",\"html_url\":\"https://github.com/apps/vercel\",\"created_at\":\"2018-01-19T21:51:06Z\",\"updated_at\":\"2025-12-15T20:53:31Z\",\"permissions\":{\"administration\":\"write\",\"checks\":\"write\",\"contents\":\"write\",\"deployments\":\"write\",\"emails\":\"read\",\"issues\":\"write\",\"members\":\"read\",\"metadata\":\"read\",\"pull_requests\":\"write\",\"repository_hooks\":\"write\",\"statuses\":\"write\"},\"events\":[\"branch_protection_rule\",\"check_run\",\"deployment\",\"membership\",\"pull_request\",\"pull_request_review\",\"pull_request_review_comment\",\"pull_request_review_thread\",\"push\",\"repository\",\"status\",\"team\"]},\"pull_requests\":[]},{\"id\":58663840021,\"name\":\"build-and-test\",\"node_id\":\"CR_kwDOQrCIAs8AAAANqKMpFQ\",\"head_sha\":\"44c152d51cb6991d33e53552726fb00086c4c478\",\"external_id\":\"67a34695-c083-5c32-89bf-d4755198571a\",\"url\":\"https://api.github.com/repos/holon-run/ho[...]
