---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/holon-run/holon/issues/289
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/holon-run/holon/issues/289","repository_url":"https://api.github.com/repos/holon-run/holon","labels_url":"https://api.github.com/repos/holon-run/holon/issues/289/labels{/name}","comments_url":"https://api.github.com/repos/holon-run/holon/issues/289/comments","events_url":"https://api.github.com/repos/holon-run/holon/issues/289/events","html_url":"https://github.com/holon-run/holon/issues/289","id":3764221198,"node_id":"I_kwDOQrCIAs7gXXUO","number":289,"title":"Refactor: Remove redundant ''issue'' field in favor of ''issue_id''","user":{"login":"jolestar","id":77268,"node_id":"MDQ6VXNlcjc3MjY4","avatar_url":"https://avatars.githubusercontent.com/u/77268?v=4","gravatar_id":"","url":"https://api.github.com/users/jolestar","html_url":"https://github.com/jolestar","followers_url":"https://api.github.com/users/jolestar/followers","following_url":"https://api.github.com/users/jolestar/following{/other_user}","gists_url":"https://api.github.com/users/jolestar/gists{/gist_id}","starred_url":"https://api.github.com/users/jolestar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jolestar/subscriptions","organizations_url":"https://api.github.com/users/jolestar/orgs","repos_url":"https://api.github.com/users/jolestar/repos","events_url":"https://api.github.com/users/jolestar/events{/privacy}","received_events_url":"https://api.github.com/users/jolestar/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":9852572028,"node_id":"LA_kwDOQrCIAs8AAAACS0JRfA","url":"https://api.github.com/repos/holon-run/holon/labels/holon","name":"holon","color":"5319e7","default":false,"description":"Trigger Holon AI resolution"}],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2025-12-27T02:12:06Z","updated_at":"2025-12-27T05:14:13Z","closed_at":"2025-12-27T05:14:13Z","author_association":"MEMBER","type":null,"active_lock_reason":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"issue_dependencies_summary":{"blocked_by":0,"total_blocked_by":0,"blocking":0,"total_blocking":0},"body":"## Problem\n\nThe GitHub PR publisher currently uses two fields to represent issue references:\n- `issue`: Full reference format like `\"owner/repo#123\"` (legacy)\n- `issue_id`: Plain number format like `\"123\"` (preferred)\n\nThis causes confusion because:\n1. It''s unclear why two fields exist\n2. The preference logic needs documentation\n3. It adds unnecessary complexity\n\n## Current Behavior\n\nIn `cmd/holon/solve.go`:\n```go\n// Line 709: Always set for both issues and PRs\nme[...]
