---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/user
        method: GET
      response:
        body: '{"message":"Resource not accessible by integration","documentation_url":"https://docs.github.com/rest"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4999"
            X-Ratelimit-Reset:
                - "1766815725"
            X-Ratelimit-Resource:
                - core
        status: 403 Forbidden
        code: 403
        duration: 100ms
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/app
        method: GET
      response:
        body: '{"id":123456,"slug":"my-github-app","node_id":"MDM6QXBwMTIzNDU2","name":"My GitHub App","description":"A test GitHub App","external_url":"https://example.com","html_url":"https://github.com/apps/my-github-app","created_at":"2025-01-01T00:00:00Z","updated_at":"2025-01-01T00:00:00Z","permissions":{"contents":"read","issues":"write","pull_requests":"write"},"events":["issues","pull_request"],"owner":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","type":"User"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"abc123"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4998"
            X-Ratelimit-Reset:
                - "1766815725"
            X-Ratelimit-Resource:
                - core
        status: 200 OK
        code: 200
        duration: 100ms
