---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/user
        method: GET
      response:
        body: '{"login":"jolestar","id":77268,"node_id":"MDQ6VXNlcjc3MjY4","avatar_url":"https://avatars.githubusercontent.com/u/77268?v=4","gravatar_id":"","url":"https://api.github.com/users/jolestar","html_url":"https://github.com/jolestar","followers_url":"https://api.github.com/users/jolestar/followers","following_url":"https://api.github.com/users/jolestar/following{/other_user}","gists_url":"https://api.github.com/users/jolestar/gists{/gist_id}","starred_url":"https://api.github.com/users/jolestar/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jolestar/subscriptions","organizations_url":"https://api.github.com/users/jolestar/orgs","repos_url":"https://api.github.com/users/jolestar/repos","events_url":"https://api.github.com/users/jolestar/events{/privacy}","received_events_url":"https://api.github.com/users/jolestar/received_events","type":"User","user_view_type":"public","site_admin":false,"name":"jolestar","company":null,"blog":"http://jolestar.com","location":"China","email":"jolestar@gmail.com","hireable":null,"bio":null,"twitter_username":null,"notification_email":"jolestar@gmail.com","public_repos":90,"public_gists":5,"followers":1022,"following":223,"created_at":"2009-04-24T04:05:45Z","updated_at":"2025-12-25T09:02:39Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b2063085d5513340ab443f059b858b4daaa808cb8a308394a1c84ad9bb00bfc7"
            Last-Modified:
                - Thu, 25 Dec 2025 09:02:39 GMT
            X-Accepted-Oauth-Scopes:
                - ""
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Oauth-Client-Id:
                - 178c6fc778ccc68e1d6a
            X-Oauth-Scopes:
                - gist, read:org, repo, workflow
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4970"
            X-Ratelimit-Reset:
                - "1766815725"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "30"
        status: 200 OK
        code: 200
        duration: 406.712407ms
