---
version: 1
interactions:
    - request:
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/holon-run/holon/pulls/123/comments?per_page=100
        method: GET
      response:
        body: "[{\"url\":\"https://api.github.com/repos/holon-run/holon/pulls/comments/2638191432\",\"pull_request_review_id\":3602073576,\"id\":2638191432,\"node_id\":\"PRRC_kwDOQrCIAs6dP5tI\",\"diff_hunk\":\"@@ -18,10 +18,10 @@ describe(\\\"CI Compatibility\\\", () => {\\n     }\\n   });\\n \\n-  test(\\\"adapter source file exists for type checking\\\", () => {\\n+  test(\\\"agent source file exists for type checking\\\", () => {\\n     const srcPath = path.join(path.dirname(path.dirname(new URL(import.meta.url).pathname)), \\\"src\\\", \\\"adapter.ts\\\");\",\"path\":\"agents/claude/tests/ci-compatibility.test.js\",\"commit_id\":\"1e4b4d5aa56645fb7f809ddab5b6b7ebb7dddcae\",\"original_commit_id\":\"1e4b4d5aa56645fb7f809ddab5b6b7ebb7dddcae\",\"user\":{\"login\":\"Copilot\",\"id\":175728472,\"node_id\":\"BOT_kgDOCnlnWA\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/946600?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Copilot\",\"html_url\":\"https://github.com/apps/copilot-pull-request-reviewer\",\"followers_url\":\"https://api.github.com/users/Copilot/followers\",\"following_url\":\"https://api.github.com/users/Copilot/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Copilot/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Copilot/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Copilot/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Copilot/orgs\",\"repos_url\":\"https://api.github.com/users/Copilot/repos\",\"events_url\":\"https://api.github.com/users/Copilot/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Copilot/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"body\":\"The source file path reference `src/adapter.ts` should be updated to `src/agent.ts` if the source file is renamed as part of this terminology refactoring. Currently this test checks for a file with \\\"adapter\\\" in its name while all documentation and comments refer to \\\"agent\\\".\\n```suggestion\\n    const srcPath = path.join(path.dirname(path.dirname(new URL(import.meta.url).pathname)), \\\"src\\\", \\\"agent.ts\\\");\\n```\",\"created_at\":\"2025-12-21T23:30:19Z\",\"updated_at\":\"2025-12-21T23:30:24Z\",\"html_url\":\"https://github.com/holon-run/holon/pull/123#discussion_r2638191432\",\"pull_request_url\":\"https://api.github.com/repos/holon-run/holon/pulls/123\",\"_links\":{\"self\":{\"href\":\"https://api.github.com/repos/holon-run/holon/pulls/comments/2638191432\"},\"html\":{\"href\":\"https://github.com/holon-run/holon/pull/123#discussion_r2638191432\"},\"pull_request\":{\"href\":\"https://api.github.com/repos/holon-run/holon/pulls/123\"}},\"reactions\":{\"url\":\"https://api.github.com/repos/holon-run/holon/pulls/comments/2638191432/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"start_line\":null,\"original_start_line\":null,\"start_side\":null,\"line\":null,\"original_line\":22,\"side\":\"RIGHT\",\"author_association\":\"CONTRIBUTOR\",\"original_position\":6,\"position\":1,\"subject_type\":\"line\"},{\"url\":\"https://api.github.com/repos/holon-run/holon/pulls/comments/2638191434\",\"pull_request_review_id\":3602073576,\"id\":2638191434,\"node_id\":\"PRRC_kwDOQrCIAs6dP5tK\",\"diff_hunk\":\"@@ -1,6 +1,6 @@\\n-# TypeScript Claude Adapter (prototype)\\n+# TypeScript Claude Agent (prototype)\\n \\n-This adapter mirrors the Python bridge behavior using the Claude Agent SDK (v1) with the Claude Code runtime.\\n+This agent mirrors the Python bridge behavior using the Claude Agent SDK (v1[...]
